In [1]:
import numpy as np
import pandas as pd
import nltk
import pickle
from tqdm import tqdm

In [2]:
# load pkl file to obtain the data - only load the train and dev data NOT the test data

with open('./pkl/magister_data_flac_16000_train.pkl', 'rb') as f:
    df_train = pickle.load(f)

with open('./pkl/magister_data_flac_16000_dev.pkl', 'rb') as f:
    df_dev = pickle.load(f)

In [8]:
pd.DataFrame(df_train.text)

                                                   text
0     FCS GUNNERY BROADCAST POLICY SURFACE AND AIR F...
1                                                 ROGER
2                AGUN ENGAGE MISSILE NORTH AT TWO MILES
3     G P M G PROVIDE ONE BOX TWO FIVE ZERO ROUNDS L...
4      OOW COME LEFT ZERO TWO ZERO INCREASE ONE TWO OOW
...                                                 ...
1813                                 TPS PWO CHECK COPY
1814  AND FIRE ON PAC TARGET ZERO ZERO FOUR NINE K A...
1815  # OW PWO COME LEFT TWO NINE ZERO WEPS THIS PWO...
1816  # ALL STATION # THIS PWO MISSIONS BRIEF AS FOL...
1817  REQUEST PERMISSION TO PROVIDE FIVE TP ROUND CO...

[1818 rows x 1 columns]

In [9]:
pd.DataFrame(df_dev.text)

                                                  text
0    FOXTROT ONE DELTA THIS IS ALFA FOUR QUEBEC SHO...
1    FOXTROT ONE DELTA THIS IS ALFA FOUR QUEBEC SHO...
2    ALFA FOUR QUEBEC # POSITIONING # FOR P A C RUN...
3    ALL IN THIS IS PWO INTEND CONTINUES FIRING NO ...
4    FOXTROT ONE DELTA THIS IS ALFA FOUR QUEBEC COM...
..                                                 ...
355  WEAPS TRANSMIT F C R ALL ROUND TRAINING FREQUE...
356  # COMMAND THIS IS BASE ON S O C CEASE IS # FOU...
357  RESOLVE # ID AND INTENTION OF # UNKNOWN # STRE...
358  I MAKE # U A ONE SEVEN FOUR # POSHOS U A ONE S...
359  WEAPS # PWO PLOT P A C F P ONE NAUTICAL MILES ...

[360 rows x 1 columns]

In [11]:
# combine the train and dev set to prep the creation of the language model
df_for_building_lm = pd.concat([pd.DataFrame(df_train.text), pd.DataFrame(df_dev.text)]).reset_index(drop=True)
df_for_building_lm

                                                   text
0     FCS GUNNERY BROADCAST POLICY SURFACE AND AIR F...
1                                                 ROGER
2                AGUN ENGAGE MISSILE NORTH AT TWO MILES
3     G P M G PROVIDE ONE BOX TWO FIVE ZERO ROUNDS L...
4      OOW COME LEFT ZERO TWO ZERO INCREASE ONE TWO OOW
...                                                 ...
2173  WEAPS TRANSMIT F C R ALL ROUND TRAINING FREQUE...
2174  # COMMAND THIS IS BASE ON S O C CEASE IS # FOU...
2175  RESOLVE # ID AND INTENTION OF # UNKNOWN # STRE...
2176  I MAKE # U A ONE SEVEN FOUR # POSHOS U A ONE S...
2177  WEAPS # PWO PLOT P A C F P ONE NAUTICAL MILES ...

[2178 rows x 1 columns]

In [12]:
df_for_building_lm.text[0]

'FCS GUNNERY BROADCAST POLICY SURFACE AND AIR F C R TRANSMIT WHEN ORDERED AGUN PROVIDE MODE ALPHA LOADING BRAVO GUN PROVIDE'

In [27]:
# remove the '#' (filler words) as it is not useful in building the language model and write the annotations into a .txt file
with open('lm/lm_model_prep.txt', 'w+') as f:
    for idx, text in enumerate(df_for_building_lm.text):
        f.write(f"{text.replace('# ', '').replace('#', '')}\n")